.blurContent:hover {
  filter: blur(3px);
  transition: 0.4s ease-out;
  border: 0;
}

.flexing2 {

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.newFontt {
  font-family: dbFont;
  color: white;
  font-size: 20px;
  text-align: center;
}

.playerDescriptionFont {
  font-family: dbFont;
  color: white;
  font-size: 15px;
}

.divAdjuster {
  margin-top: 100px
}

.modalAdjuster {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}

.BoxedText {
  font-family: dbFont;
  color: red;
  font-size: 25px;
  text-align: center;
  border: 1px white;
}

.boxAdjuster {
  border: 50;
  border-color: 'transparent';

}

@media screen and (max-width: 2066px) {
  .boxAdjuster {
    width: 20rem;
    height: 25rem;
  }
  .boxAdjuster2 {
    width: 25rem;
    height: 50rem;
    
  }
  .fontCardEnlarged {
    font-family: dbFont;
    color: white;
    font-size: 20px;
    text-align: center;
  }


}

@media screen and (max-width: 1366px) {
  .boxAdjuster {
    width: 18rem;
    height: 23rem;
  }
  .boxAdjuster2 {
    width: 25rem;
    height: 50rem;
  }
  .fontCardEnlarged {
    font-family: dbFont;
    color: white;
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .boxAdjuster {
    width: 14rem;
    height: 20rem;
  }
  .boxAdjuster2 {
    width: 20rem;
    height: 50rem;
  }
  .fontCardEnlarged {
    font-family: dbFont;
    color: white;
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .boxAdjuster {
    width: 10rem;
    height: 16rem;
  }
  .boxAdjuster2 {
    width: 17rem;
    height: 50rem;
  }
  .fontCardEnlarged {
    font-family: dbFont;
    color: white;
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .boxAdjuster {
    width: 5rem;
    height: 10rem;
  }
  .boxAdjuster2 {
    width: 14rem;
    height: 50rem;
  }
  .fontCardEnlarged {
    font-family: dbFont;
    color: white;
    font-size: 15px;
    text-align: center;
  }
}